<div class="container">

  <div [appSetColor]="myColor">
    <h2>Custom directives</h2>
    {{myColor}}
    <input type="color" #myColorInp (input)="myColor = myColorInp.value">
  </div>

  <div class="green lighten-4">
    <h2>Components</h2>

    <p>Call to user: {{userPhone}}</p>

    <app-worker-card *ngFor="let item of items; let idx=index"
                     (callEvent)="callTo($event)"
                     [modelName]="item">

      <p>{{idx}}</p>
    </app-worker-card>
  </div>

  <div class="blue lighten-3">
    <h2>Custom pipes</h2>
    {{myName | waves}}
  </div>

  <div class="red lighten-3">
    <h2>Directive</h2>
    {{myName}}
    <input type="text"
           value="{{myName}}"
           [id]="'myId'"
           (input)="myName = $event.target.value">

    <hr>

    {{searchByName}}
    <input [(ngModel)]="searchByName" type="text" placeholder="search by name">

    <ul>
      <li [ngClass]="{red: even, yellow: !even}"
          *ngFor="let item of items | search:searchByName;
           let idx=index;
           let even=even">
        {{idx + 1}}. {{item.name}} - {{even}}
        <button class="btn" (click)="showPhone(item.phone)">showPhone</button>
      </li>
    </ul>

    <input type="checkbox" id="my-checkbox" [(ngModel)]="access">
    <label for="my-checkbox">toggle access</label>
    <div *ngIf="access">you have access</div>
    <div *ngIf="!access">you don't have access</div>
  </div>

  <div class="teal white-text">
    <h2>interpolacja</h2>
    {{myName | uppercase}}
    <br>
    {{today | date:"dd/MMM/yyyy @ H:m:s" | uppercase}}
  </div>
</div>
